
.textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    box-shadow: 0 8px 6px -6px gainsboro;
}

.text {
  text-align: center;
  margin-top: 10px; 
  margin-bottom: 10px;
  
}




